<!-- /*
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="css/tiny-slider.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <title></title>
</head>

<body>
    <!-- Đoạn mã quảng cáo -->
    <div class="ad">
        <div id="ad-container">
            <i class="fa-solid fa-gift"> Register an account to receive incentives
            </i>
            <i class="fa-solid fa-gift"></i>
            <a href="user/" target="_blank">
                <a href="/signup">
                    <i class="fa-solid fa-arrow-up fa-rotate-90"></i> Click here
                    <i class="fa-solid fa-arrow-up fa-rotate-270"></i> </a>
            </a>
        </div>
    </div>
    <main>
        <section style="background-color: #eee;">
            <div class="container py-5 text-center">
                <h4 class="mt-4 mb-5"><strong>Transformers Product</strong></h4>

                <div class="row">
                    {{#each transformers }}
                    <div class="col-lg-3 col-md-12 mb-4">
                        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
                            <a href="transformers/detail/{{ _id }}"><img src="{{image}}" class="w-100" height="350"
                                    width="300"></a>
                            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                                <div class="d-flex justify-content-start align-items-start h-100">
                                    <h5><span class="badge bg-light pt-2 ms-3 mt-3 text-dark">$ {{ price }}</span>
                                        <a class="btn btn-sm btn-outline-secondary"
                                            href="transformers/detail/{{ _id }}">View
                                            Details</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>

                <h4 class="mt-4 mb-5"><strong>Iron Man Product</strong></h4>

                <div class="row">
                    {{#each ironman }}
                    <div class="col-lg-3 col-md-12 mb-4">
                        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
                            <a href="ironman/detail/{{ _id }}"><img src="{{image}}" class="w-100" height="350"
                                    width="300"></a>
                            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                                <div class="d-flex justify-content-start align-items-start h-100">
                                    <h5><span class="badge bg-light pt-2 ms-3 mt-3 text-dark">$ {{ price }}</span>
                                        <a class="btn btn-sm btn-outline-secondary" href="ironman/detail/{{ _id }}">View
                                            Details</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>

                <h4 class="mt-4 mb-5"><strong>Best - Selling Product</strong></h4>
                <div class="row">
                    <div class="col-lg-3 col-md-12 mb-4">
                        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
                            <a href="transformers/detail/65266ff83a8bae9da79fe576"><img
                                    src="https://thegioimohinh.vn/wp-content/uploads/2023/05/344928405_1902335123468207_459442249772341929_n-768x1086.jpg"
                                    class="w-100" height="350" width="300"></a>
                            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                                <div class="d-flex justify-content-start align-items-start h-100">
                                    <h5><span class="badge bg-dark pt-2 ms-3 mt-3 text-white">$ 50</span>
                                        <a class="btn btn-sm btn-outline-secondary"
                                            href="ttransformers/detail/65266ff83a8bae9da79fe576">View Details</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 mb-4">
                        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
                            <a href="ironman/detail/652676383a8bae9da79fe582"><img
                                    src="https://thegioimohinh.vn/wp-content/uploads/2023/09/03-2-768x1024.jpg"
                                    class="w-100" height="350" width="300"></a>
                            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                                <div class="d-flex justify-content-start align-items-start h-100">
                                    <h5><span class="badge bg-dark pt-2 ms-3 mt-3 text-white">$ 90</span>
                                        <a class="btn btn-sm btn-outline-secondary"
                                            href="ironman/detail/652676383a8bae9da79fe582">View Details</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 mb-4">
                        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
                            <a href="transformers/detail/65266ff83a8bae9da79fe578"><img
                                    src="https://thegioimohinh.vn/wp-content/uploads/2023/05/345181866_159777617055668_1214782858887358704_n-768x1086.jpg"
                                    class="w-100" height="350" width="300"></a>
                            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                                <div class="d-flex justify-content-start align-items-start h-100">
                                    <h5><span class="badge bg-dark pt-2 ms-3 mt-3 text-white">$ 59</span>
                                        <a class="btn btn-sm btn-outline-secondary"
                                            href="transformers/detail/65266ff83a8bae9da79fe578">View Details</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 mb-4">
                        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
                            <a href="ironman/detail/652676383a8bae9da79fe583"><img
                                    src="https://thegioimohinh.vn/wp-content/uploads/2022/10/01-768x1152.jpg"
                                    class="w-100" height="350" width="300"></a>
                            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                                <div class="d-flex justify-content-start align-items-start h-100">
                                    <h5><span class="badge bg-dark pt-2 ms-3 mt-3 text-white">$ 100</span>
                                        <a class="btn btn-sm btn-outline-secondary"
                                            href="ironman/detail/652676383a8bae9da79fe583">View Details</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Đoạn mã quảng cáo -->
        <div class="ad">
            <div id="ad-container">
                <a href="user/" target="_blank">
                    <a href="/signup">
                        <i class="fa-solid fa-arrow-up fa-rotate-90"></i> Click here
                        <i class="fa-solid fa-arrow-up fa-rotate-270"></i> </a>
                </a>
                <i class="fa-solid fa-gift"> Register an account to receive incentives
                </i>
                <i class="fa-solid fa-gift"></i>
            </div>
        </div>

    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>