<div class="container text-center col-md-9 bg-info-">
    <h1>Order Details</h1>
    <h4>Transformers name: {{ transformers.name }}</h4>
    <h4>Transformers type: {{ transformers.type }}</h4>
    <h4>Transformers price: {{ transformers.price }}</h4>
    <h4>Transformers size: {{ transformers.size }}</h4>
    <h4>Order quantity: {{ quantity }}</h4>
</div>