<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <!-- Jumbotron -->
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="{{transformers.image1}}" class="w-100 rounded-4 shadow-4" alt="" />
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">Order Details</h2>
                        <div class="card-header">
                            <h5 class="card-title">{{ transformers.name }}</h5>
                        </div>
                        <div class="card-body">
                            <img src="{{transformers.image}}" alt="" height="350" width="300">
                            <p class="card-text">Type: {{ transformers.type }}</p>
                            <p class="card-text">Price: ${{ transformers.price }}</p>
                            <p class="card-text">Size: {{ transformers.size }}</p>
                            <p class="card-text">Status: {{ transformers.status }}</p>
                            <p class="card-text">Quantity: {{ transformers.quantity }}</p>
                            <a href="/transformers/buynow" class="btn btn-success">Buy now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4><span class="fw-bold">Order quantity:</span> {{ quantity }}</h4>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->